@import 'setup.css';
/* GENERAL PAGES*/
@import '../css/general-css/pages/Home.css';
/* GENERAL CMPS */
@import '../css/general-css/cmps/UserMsg.css';
@import '../css/general-css/cmps/Header.css';
@import '../css/general-css/cmps/Footer.css';

/* BOOK PAGES*/
@import '../css/apps-css/book/pages/BookApp.css';
@import '../css/apps-css/book/pages/BookDetails.css';
/* BOOK CMPS*/
@import '../css/apps-css/book/cmps/BookFilter.css';
@import '../css/apps-css/book/cmps/GoogleBooks.css';
@import '../css/apps-css/book/cmps/GoogleBooksList.css';
@import '../css/apps-css/book/cmps/BookList.css';
@import '../css/apps-css/book/cmps/BookPreview.css';
@import '../css/apps-css/book/cmps/BookReview.css';
@import '../css/apps-css/book/cmps/ReviewAdd.css';



/* NOTE CMPS */
@import '../css/apps-css/note/cmps/NoteAdd.css';
@import '../css/apps-css/note/cmps/NoteFilter.css';
@import '../css/apps-css/note/cmps/Note.css';
@import '../css/apps-css/note/cmps/NoteImg.css';
@import '../css/apps-css/note/cmps/NoteOptions.css';
@import '../css/apps-css/note/cmps/NotesList.css';
@import '../css/apps-css/note/cmps/NoteTodos.css';

/* MAIL PAGES */
@import '../css/apps-css/mail/pages/MailApp.css';
/* MAIL CMPS */
@import '../css/apps-css/mail/cmps/MailCompose.css';
@import '../css/apps-css/mail/cmps/MailFilter.css';
@import '../css/apps-css/mail/cmps/MailToolbar.css';
@import '../css/apps-css/mail/cmps/MailsList.css';
@import '../css/apps-css/mail/cmps/MailPreview.css';
