@import 'setup.css';
/* GENERAL PAGES*/
@import '../css/general-css/pages/Home.css';
@import '../css/general-css/pages/About.css';
/* GENERAL CMPS */
@import '../css/general-css/cmps/UserMsg.css';
@import '../css/general-css/cmps/Header.css';
@import '../css/general-css/cmps/Footer.css';

/* BOOK PAGES*/
@import '../css/apps-css/book/pages/BookApp.css';
@import '../css/apps-css/book/pages/BookDetails.css';
/* BOOK CMPS*/
@import '../css/apps-css/book/cmps/BookFilter.css';
@import '../css/apps-css/book/cmps/GoogleBooks.css';
@import '../css/apps-css/book/cmps/GoogleBooksList.css';
@import '../css/apps-css/book/cmps/BookList.css';
@import '../css/apps-css/book/cmps/BookPreview.css';
@import '../css/apps-css/book/cmps/BookReview.css';
@import '../css/apps-css/book/cmps/ReviewAdd.css';

/* NOTE PAGES */

/* NOTE CMPS */
@import '../css/apps-css/note/cmps/notes-list.css'

/* MAIL PAGES */
/* MAIL CMPS */