/* FONTS */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    src: url(https://fonts.googleapis.com/css?family=Merriweather);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffffff, #abb7ba);
}

/* BASE  */

button, select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* MAIN LAYOUT */

.main-layout {
    max-width: 90vw;
    margin: 0 auto;
}

.loader {
    display: block;
    margin: 0 auto;
    width: 50%;
}