* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BASE  */

button, select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* MAIN LAYOUT */

.main-layout {
    max-width: 90vw;
    margin: 0 auto;
}