/* PREVIEW */

.mail-preview {
    display: flex;
    box-shadow: 0px 0px 5px 0px;
    width: 100%;
    align-items: center;
    background-color: #fff;
}

.mail-preview:hover {
    background-color: rgb(231, 230, 230);
}

.read{
    background-color: rgb(200, 207, 207);
}

.mail-preview button {
    background: transparent;
    border: none;
    padding: 5px;
    margin: 0 2px;
    display: flex;
}

.mail-preview-content {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 20px;
}

.preview-action-btns {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}