.mail-filter {
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-filter input {
    padding: 10px;
    border: 1px solid rgb(26, 62, 141);
    color: #111;
    letter-spacing: 0.1em;
}

/* FILTER */
.mail-filter select {
    padding: 9px 2px;
    margin-inline-start: 10px;
    border: 1px solid #d0d2d4;
    border-radius: 5px;
    box-shadow: 0 1px 3px -2px #9098a9;
    transition: all 150ms ease;
}

.mail-filter option {
    color: #223254
}

.mail-filter img {
    cursor: pointer;
    margin-inline-start: 10px;
}

.rotate {
    animation: rotate-keyframes 0.5s;
}

@keyframes rotate-keyframes {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}