.mail-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(63, 61, 61);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 80vh;
}

.mail-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow: inset -5px -5px 20px 0px #bbc8c38f;
    background-color: #f1f5f6;
    padding: 15px 25px;
    border-radius: 8px;
}

.mail-info h3 {
    box-shadow: 0px 2px 0px 0px #757272ab;
}

.mail-reply-btn {
    border: 0;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
}

.mail-reply{
    height: 35px;
}

.mail-info h1 {
    margin: 10px 0;
    box-shadow: 0px 2px 0px 0px #757272ab;
}

.mail-info p:last-child {
    font-size: 0.8em;
    color: #646262ab;
}

.mail-actions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.mail-actions button {
    border: 0;
    background: transparent;
}

.mail-actions button img {
    width: 50px;
    height: 50px;
}