/* COMPOSE */
.mail-compose {
    display: flex;
    flex-direction: column;
}

.mail-compose input {
    margin-bottom: 10px;
}

.mail-compose textarea {
    margin-bottom: 15px;
    resize: none;
}

.mail-compose-btns {
    display: flex;
    justify-content: center;
}

.compose-send-btn {
    background-color: rgb(46, 85, 214);
    color: #fff;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease-in;
}

.compose-send-btn:hover{
    background-color: rgb(110, 140, 241);
}
