.mail-preview{
    display: flex;
    border: 1px rgb(98, 94, 94) solid;
}
.mail-preview button{
    background: transparent;
    border: none;
    padding: 5px;
    margin: 0 2px;
}

.mail-preview-content{
    display: flex;
}