.mail-filter {
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.mail-filter input {
    font-family: monospace;
    outline: 0;
    text-align: center;
    border: 1px solid rgb(88, 127, 211);
    color: #111;
    letter-spacing: 0.1em;
    width: 220px;
    font-size: large;
    height: 40px;
}

.mail-filter input:focus {
    border: 2px solid rgb(26, 62, 141);
}

/* FILTER */

.mail-filter select {
    padding: 9px 2px;
    margin-inline-start: 10px;
    border: 1px solid #d0d2d4;
    border-radius: 5px;
    box-shadow: 0 1px 3px -2px #9098a9;
    transition: all 150ms ease;
}

.mail-filter option {
    color: #223254
}

.mail-filter img {
    cursor: pointer;
    transition: all 0.2s;
}

.mail-filter img:hover {
    transform: rotate(-120deg);
}

.rotate {
    animation: rotate-keyframes 0.5s;
}

@keyframes rotate-keyframes {
    from {
        transform: rotate(-120deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 660px) {
    .mail-filter select {
        padding: 0;
        margin-inline-start: 0;
        border: 1px solid #d0d2d4;
        border-radius: 5px;
        box-shadow: 0 1px 3px -2px #9098a9;
        transition: all 150ms ease;
    }
    .mail-filter input {
        height: 25px;
    }
}