/* TOOLBAR */

.mail-toolbar {
    justify-self: start;
    grid-row: 2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.compose-btn {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    border-radius: 3px;
    border: 1px solid #f39406;
    line-height: 1.5em;
    background: linear-gradient( #eee7e5, #d6d1cc);
    transition: all 0.1s;
}

.compose-btn:hover {
    box-shadow: 0px 0px 4px #999696;
    color: #fff;
    background: linear-gradient( #e46b4a, #db7b0d);
    border: 1px solid #B3320E;
}

.toolbar-btns {
    display: flex;
    flex-direction: column;
}

.toolbar-btns div {
    cursor: pointer;
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.toolbar-btns div:hover {
    box-shadow: 1px 1px 5px rgb(63, 61, 61);
}
.unread-msg{
    font-size: 0.8em;
    color: #6954c5;
}
.unread-container {
    width: 100%;
    box-shadow:  0px 0px 3px 0px #4b2ed3;
    background: linear-gradient( #c5cfe7, #b3c9f3);
}

.unread-percent {
    background: linear-gradient( #3e62b4, #3925e7);
    color: #fff;
    font-size: 0.8em;
    text-align: center;
}

@media screen and (max-width: 660px) {
    .mail-toolbar {
        display: flex;
        flex-direction: row;
    }
    .compose-btn {
        width: 90px;
        height: 30px;
        line-height: 1em;
    }
    .toolbar-btns {
        flex-direction: row;
    }
    .toolbar-btns div {
        padding: 5px;
        gap: 5px;
    }
}