/* PREVIEW */

.mail-preview {
    display: flex;
    box-shadow: 0px 0px 5px 0px;
    width: 100%;
    align-items: center;
    background-color: #fff;
}

.mail-preview:hover {
    background-color: rgb(231, 230, 230);
}

.mail-preview button {
    background: transparent;
    border: none;
    padding: 5px;
    margin: 0 2px;
    display: flex;
}

.mail-preview-content {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 20px;
}

.preview-action-btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.read {
    background-color: rgb(200, 207, 207);
}

.mail-star {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 660px) {
    .mail-preview-content h2, h4{
        font-size: 1em;
    }
}