
.filter-add-section{
  border-radius: 10px;
  background-color: rgb(217, 226, 243);
  box-shadow: 0px 0px 5px 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media screen and (max-width:374px) {
.filter-add-section{
  flex-direction: column;
  align-items: center;
}
}

.notes-section {
  border-radius: 10px;
  background-color: rgb(245, 240, 218);
  box-shadow: 0px 0px 5px 0px;
}

button {
  margin:1px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(153, 153, 153);
  
}

a {
  color: unset;
}

