
.filter-add-section{
  
  display: flex;
  justify-content: space-around;
}

.add-icon, .filter-icon{
  font-size: 75px !important;
  
}

.add-icon:hover, .filter-icon:hover{
  transform: rotate(360deg);
  transition: 0.5s;
  
}

input {
  width: 165px;
  height: 35px;
}

button {
  margin:1px
}

button:hover {
  background-color: rgb(153, 153, 153);
  transition: 0.2s;
}


