
.filter-add-section{
  
  display: flex;
  justify-content: space-around;
}

.add-icon, .filter-icon{
  font-size: 75px !important;
}

input {
  width: 165px;
  height: 35px;
}

button {
  margin:1px
}


