.filter-add-section {
  border-radius: 10px;
  background-color: rgb(217, 226, 243);
  box-shadow: 0px 0px 5px 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media screen and (max-width:660px) {
  .filter-add-section {
    flex-direction: column;
    align-items: center;
  }
}

.notes-section {
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(245, 240, 218);
  box-shadow: 0px 0px 5px 0px;
}

button {
  padding: 3px;
  border-radius: 10px;
  margin: 1px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(153, 153, 153);
}

a {
  color: unset;
}