.note-app-title {
  color: rgb(180, 176, 176);
  transform: rotate(10deg);
  text-align: center;
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: 0.3s;
}

.note-app-title:hover {
  transform: rotate(-10deg);
}
.filter-add-section{
  
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}

.add-icon, .filter-icon{
  font-size: 75px !important;
  transition: 0.5s;
  
}

.add-icon:hover, .filter-icon:hover{
  transform: rotate(360deg);
 
  
}

input {
  width: 165px;
  height: 35px;
}

button {
  margin:1px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(153, 153, 153);
  
}




