.book-preview {
    background-color: rgb(20, 24, 66);
    color: #fff;
    box-shadow: rgb(48 74 149 / 80%) 5px 5px 10px 2px;
    padding: 5px;
    transition: opacity 0.3s ease-out;
    min-height: 285px;
}

.book-preview:hover {
    opacity: 0.75;
}

.book-preview img {
    width: 120px;
    height: 160px;
}
