/* FILTER  */

.book-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
}

.book-filter-header {
    width: 100%;
    color: rgb(53 58 114);
    font-size: 1.8em;
    font-family: monospace;
    letter-spacing: 2px;
}

.book-filter input {
    margin-inline-end: 15px;
    margin-inline-start: 5px;
}

.book-filter input[name="title"] {
    width: 180px;
}

.book-filter input:not([name="title"]) {
    width: 100px;
}

@media screen and (max-width: 660px) {
    .book-filter {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .book-filter input[name="title"] {
        width: 90%;
    }
}