/* PREV */

.book-preview {
    display: flex;
    background-color: rgb(52 58 114);
    color: #fff;
    box-shadow: rgb(48 74 149 / 80%) 5px 5px 10px 2px;
    padding: 5px;
    transition: opacity 0.3s ease-out;
    min-height: 285px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-preview:hover {
    opacity: 0.75;
}

.book-preview img {
    width: 120px;
    height: 160px;
}

@media screen and (max-width: 660px) {
    .book-preview {
        flex: 1;
        min-width: 100%;
    }
}