/* MAIN-LIST  */
.book-list {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}



@media screen and (max-width: 660px) {
    .book-list {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}