.google-books input{
        margin: 10px 0;
        padding: 10px;
        border: 2px solid black;
        color: #111;
        box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
        letter-spacing: 2px;
}

.google-books-list li {
    font-style: oblique;
    margin-bottom: 10px;
}

.google-books-list button{
    margin-inline-start: 5px;
    border: none;
    border-radius: 50%
}