/* NOTE  */
.note-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-inline-end: 1vw;
  border:1px black solid;
  box-shadow: 0px 0px 10px 0px;
  margin: 5px;
  
}

.note-content:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

