/* FILTER */
.note-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
  height: 100%;
  width: 50%;
}

.filter-choices {
   margin-bottom: 3px;
}

.filter-icon {
  font-size: 75px !important;
  transition: 0.5s;
}

.filter-icon:hover{
  transform: rotate(360deg);
}




