/* HOME */

.home {
    text-align: center;
}

.hero {
    object-fit: contain;
    width: 100%;
}

/* ABOUT */

.about {
    text-align: center;
}

.about ul {
    list-style: none;
    padding: 0;
}




/* APPS */
.about-comps {
    display: flex;
    flex-direction: column;
}
.about-comps a{
    font-style: oblique;
    transition: color 0.4s ease-in-out;
}
.about-comps a:hover {
    color: #28a5f3;
}

.book-link {
    color: #32a350;
}

.mail-link {
    color: #dc5247;
}

.note-link {
    color: #ffba00;
}

/* TEAM+VISION */
.about nav a {
    color: rgb(42, 40, 40);
    text-decoration: overline;
    margin: 0 20px;
}

.about a.active {
    color: rgb(51, 145, 161);
    text-decoration: underline;
}

.about nav a:hover {
    color: rgb(104, 211, 230);
}