/* NAV-BAR */

header {
    background-color: rgb(38, 39, 42);
    color: #fff;
}

header a {
    color: #fff;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.app-header h1 {
    text-shadow: -2px 2px 10px #071221;
    cursor: pointer;
    transition: text-shadow 0.2s;
    color: #b6d9ee;
}

.app-header h1:hover {
    text-shadow: -2px 2px 8px #c3bfdb;
}


/* NAVBAR  */

.nav-bar {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    right: calc(3vw);
    background-color: #071221;
}

.navbar-toggle-btn {
    transition: all 0.1s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
    background-color: #94c3ec00;
}

.navbar-toggle-btn:hover {
    background-color: #94c3ec55;
}

.navbar-toggle-btn.rotated {
    transform: rotate(90deg);
}

.app-header a {
    font-weight: 500;
    transition: color 0.25s ease-in-out;
    padding: 15px;
}

.app-header a:hover {
    color: rgb(48, 140, 156);
}

.app-header a.active {
    color: rgb(70, 195, 218);
}