/* NAV-BAR */

header {
    background-color: rgb(38, 39, 42);
    color: #fff;
}

header a {
    color: #fff;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.app-header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    letter-spacing: 3px;
    text-shadow: -2px 2px 10px #071221;
    cursor: pointer;
    transition: text-shadow 0.2s;
    color: #28a5f3;
}

.app-header h1:hover {
    text-shadow: -2px 2px 20px #81c4ee;
}

/* NAVBAR  */

.nav-bar {
    display: flex;
}

.app-header a {
    transition: color 0.25s ease-in-out;
    padding: 15px;
}

.nav-btn{
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s ease-out ;
}

.nav-btn:hover{
    background-color: #cee8f8;
}